.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.packages
build/
coverage/
*.iml
*.log
*.tmp
*.swp
.DS_Store
.idea/
.vscode/

example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.pub/
example/.packages
example/build/
